<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.notice_board.BoardMapper">

    <insert id="insertBoardOne">
        insert into board(id,title,description,deleted) values
        (#{id},#{title},#{description},#{deleted})
    </insert>

    <select id="selectBoards" resultType="BoardDto">
        select * from board;
    </select>

    <update id="updateBoardOne">
        update board set title=#{title}, description=#{description}
        where id=#{id}
    </update>

    <update id="deleteBoardOne">
        update board set deleted=true
        where id=#{boardId}
    </update>

</mapper>
